/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

:root {
  --blob-size: 120px;
}

@media screen and (max-width: 768px) {
  :root {
    --blob-size: 60px;
  }
}
body {
  background-color: #212121;
}

.container-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

.btn-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--blob-size);
  height: var(--blob-size);
  border-radius: 50%;
  cursor: pointer;
  background-color: #c5f1d1;
  z-index: 20;
}

.container-menu.active .btn-menu {
  cursor: default;
}

#icon-bars {
  transition: all 1s ease-out;
}

#icon-smiley {
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease-out;
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--blob-size);
  height: var(--blob-size);
  border-radius: 50%;
  cursor: pointer;
}

.blob-1 {
  transition: all 0.1s 0.1s ease-out;
  background-color: #a2e6d7;
}

.blob-2 {
  transition: all 0.1s 0.2s ease-out;
  background-color: #b3cca4;
}

.blob-3 {
  transition: all 0.1s 0.3s ease-out;
  background-color: #cb8fc3;
}

.blob-4 {
  transition: all 0.1s 0.4s ease-out;
  background-color: #b3b3b3;
}

.blob-5 {
  transition: all 0.1s 0.5s ease-out;
  background-color: #8bb5e7;
}

.blob-6 {
  transition: all 0.1s 0.6s ease-out;
  background-color: #e6db8b;
}

.blob-7 {
  transition: all 0.1s 0.7s ease-out;
  background-color: #e68a8f;
}

.blob-8 {
  transition: all 0.1s 0.8s ease-out;
  background-color: #b17acd;
}

.container-menu.active .blob-1 {
  left: 150%;
}

.container-menu.active .blob-2 {
  left: 127.5%;
  top: 127.5%;
}

.container-menu.active .blob-3 {
  top: 150%;
}

.container-menu.active .blob-4 {
  left: -27.5%;
  top: 127.5%;
}

.container-menu.active .blob-5 {
  left: -50%;
}

.container-menu.active .blob-6 {
  left: -27.5%;
  top: -27.5%;
}

.container-menu.active .blob-7 {
  top: -50%;
}

.container-menu.active .blob-8 {
  top: -27.5%;
  left: 127.5%;
}

@media screen and (max-width: 768px) {
  .container-menu.active .blob-1 {
    left: 100%;
  }

  .container-menu.active .blob-2 {
    left: 85%;
    top: 85%;
  }

  .container-menu.active .blob-3 {
    top: 100%;
  }

  .container-menu.active .blob-4 {
    left: 15%;
    top: 85%;
  }

  .container-menu.active .blob-5 {
    left: 0%;
  }

  .container-menu.active .blob-6 {
    left: 15%;
    top: 15%;
  }

  .container-menu.active .blob-7 {
    top: 0%;
  }

  .container-menu.active .blob-8 {
    top: 15%;
    left: 85%;
  }
}
.icon {
  width: 70%;
  height: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
