@import './libs/reset.scss';

@import './libs/var.scss';

body{
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) and (min-height: 576px){
    body {
        flex-direction: row

    }

}

@import './components/titles.scss';
@import './components/menu.scss';
@import './components/blobs.scss';


.icon {
    width: 70%;
    height: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import './components/info.scss';