@import '../libs/mixins.scss';

.container-menu{
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease-out;
}

.container-menu-position {
    width: 100vw;
    min-width: 100vw;
    height: 50vh;
    min-height: 50vh;
}

.menu {
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 768px) and (min-height: 576px) {
    .menu {
        width: 400px;
        height: 400px;
    }
    .container-menu-position {
        width: 50vw;
        min-width: 50vw;
        height: 100vh;
        min-height: 100vh;
    }
}

.btn-menu{
    @include blobs;
    background-color: #c5f1d1;
    transition: all 0.2s ease-out;
    z-index: 20;
}

.menu.active .btn-menu {
    cursor: default;
}

#icon-bars{
    transition: all 1s ease-out;
}
